test_local
sdk.cfg
lib/AbstractHandle/AbstractHandleImpl.py.bak*
/.settings/
/.project
__pycache__
/.pydevproject

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
