[HandleService2]

# the path to the MongoDB executable to use.
test.mongo.exe=mongod

# whether to use the wired tiger storage engine for MongoDB. 'true' means yes, anything else means
# no.
test.mongo.wired_tiger=false

# Where to store temporary files generated during the test.
test.temp.dir=temp_test_dir

# Whether test files should be discarded after testing is complete.
# Anything other than 'false' is considered true.
test.delete.temp.dir=true

# The root url of the auth server.
auth-service-url=https://ci.kbase.us/services/auth/api/legacy/KBase/Sessions/Login

# The KBase authorization service mkII url.
auth-url=https://ci.kbase.us/services/auth

# The root url of the blob store server.
shock-url=https://ci.kbase.us/services/shock-api

# Blobstore read admin rights
admin-token=

# Token to run tests
test-token=

# Admin roles
admin-roles=HANDLE_ADMIN, KBASE_ADMIN

# A prefix appended to handle id
namespace=KBH

# Mongo database name
mongo-database=handle_db

# If the mongo database is authenticated, the user name of a read/write account.
mongo-user=

# If the mongo database is authenticated, the password for the given username.
mongo-password=